<div class="directory-wrapper">
  
  <div class="directory-container">
    chat private
  </div>
  <script src="https://cdn.jsdelivr.net/npm/brownies"></script>
  <script src="/socket.io/socket.io.js"></script>
</div>