<link rel="stylesheet" href="/stylesheets/directory.css" />
<div class="ui left demo vertical inverted sidebar labeled icon menu">
  <!-- <div class="menu-item">
    <button class="ui inverted whitesmoke button" id="status-bar">
      Set Status:
    </button>
  </div> -->
  <div class="links2">
    <!-- <div class="ham-img">
    </div> -->
    <p></p>
    <form class="ui form">
      <button id="setRedButton" class="ui inverted button compact">
        <img
          class="ui rounded-image"
          height="30"
          width="30"
          src="/images/red.png"
        />
        <i> Emergency </i>
        <i class="circle outline icon"></i>
      </button>
      <button id="setGreenButton" class="ui inverted button compact">
        <img
          class="ui rounded-image"
          height="30"
          width="30"
          src="/images/green.png"
        />
        <i> I am OK </i>
        <i class="circle outline icon"></i>
      </button>
      <p></p>
      <button id="setYellowButton" class="ui inverted button compact">
        <img
          class="ui rounded-image"
          height="30"
          width="30"
          src="/images/yellow.png"
        />
        <i> I need Help </i>
        <i class="circle outline icon"></i>
      </button>
      <button id="setGreyButton" class="ui inverted button compact">
        <img
          class="ui rounded-image"
          height="30"
          width="30"
          src="/images/grey.png"
        />
        <i> Undefined </i>
        <i class="circle outline icon"></i>
      </button>
    </form>
  </div>
  <a class="item" id="BecomeDonnor">
    <i class="heart outline icon"></i>
    Become A Blood Donor
  </a>
  <a class="item" id="AskforBlood">
    <i class="syringe icon"></i>
    Ask for Blood
  </a>

  <a class="item" href="./publicWall">
    <i class="envelope open outline icon"></i>
    Public Message
  </a>
  <a class="item" href="./measure">
    <i class="chart bar icon"></i>
    Measure
  </a>
  <a class="item" href="./announcement">
    <i class="bullhorn icon"></i>
    Announcement
  </a>
  <a class="item" href="./eventWall">
    <i class="calendar minus outline icon"></i>
    Volunteering Event
  </a>
  <a class="item" href="./blogWall">
    <i class="edit icon"></i>
    Blog For Medication
  </a>

  <a class="item" href="./provideMedicalSupply">
    <i class="first aid icon"></i>
    Medical Supply
  </a>
  <a class="item" id="directoryForAdmin">
    <i class="share square outline icon"></i>
    DirectoryForAdmin
  </a>
  <a class="item" id="logout">
    <i class="share square outline icon"></i>
    Logout
  </a>
</div>
<div class="directory-wrapper">
  <header class="directory-header">
    <!-- <span class="header1">User Directory</span> -->
    <i class="bars icon" id="bar"></i>
    <div class="unreadMsgs">
      <div id="unread">Unread Messages</div>
      <div class="unreadMsgBlock"><ul class="unreadMsgList"></ul></div>
    </div>

    <div class="search">
      <button id="search" class="ui inverted button compact">
        search <i class="search icon"></i>
      </button>
      <div class="searchCriteriaBlock">
        <ul class="searchCriteria">
          <li id="searchUsername">username</li>
          <li id="searchStatus">status</li>
        </ul>
      </div>
    </div>
  </header>
  <div class="directory-container">
    <ul class="user-list"></ul>
  </div>

  <div
    class="modal fade"
    id="askDonorModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/brownies"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/directory.js"></script>
  <script src="/javascripts/common/showAskDonorModal.js"></script>
</div>
