<link rel="stylesheet" href="/stylesheets/directory.css" />
<div class="directory-wrapper">
  <header class="directory-header">
    <!-- <span class="header1">User Directory</span> -->
  <!-- <i class="bars icon" id="bar"></i> -->
  <header class="editProfile-header">
    <button id="leave" class="ui inverted button compact">
      Back to Directory
    </button>
  </header>
  <p>Administer UserList</p>
  </header>
  <div class="directory-container">
    <ul class="user-list"></ul>
  </div>

  <div
    class="modal fade"
    id="askDonorModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/brownies"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/directoryForAdmin.js"></script>
  <script src="/javascripts/common/showAskDonorModal.js"></script>
</div>
