<link rel="stylesheet" href="/stylesheets/directory.css" />
<div class="directory-wrapper">
  <header class="directory-header">
    <span class="header1">Public Wall</span>
    <button id="leave" class="ui inverted button compact">Logout</button>
  </header>
  <div class="directory-container">
    <ul class="user-list">
      <li class="user">
        <span class="avat">
          <i class="address card icon"></i>
        </span>
        <span class="username">Zihan</span>
        <span class="online">(online)</span>
        <span class="status">
          in
          <span class="green"></span>
          situation
        </span>
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/brownies"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/directory.js"></script>
</div>
