<h1><p align = "center">Error</p></h1>
<h2><p align = "center"><%= error.code %>  -  <%= error.message %></p></h1>
<!-- <div class="error-code">
    <p align = "center">Maybe you can: </p>
</div> -->
<div class="error-actions">
    <p align = "center">This page does not exist.</p>
    <p align = "center"><a href="/">Go Back to Home</a></p>
    <!-- <button class="ui right labeled icon button">
        <i class="right arrow icon"></i>
        Next
    </button> -->
    <!-- <button type="button" class="">test</button> -->
    <!-- <button class="ui button active">Following</button> -->
    <div align = "center">
        <div class="ui vertical animated button" tabindex="0">
            <div class="hidden content">911</div>
            <div class="visible content">
            <i class="phone volume icon"></i>
            </div>
        </div>
        <div class="ui vertical animated button" tabindex="0">
            <div class="hidden content">English</div>
            <div class="visible content">
            <i class="language icon"></i>
            </div>
        </div>
        <div class="ui vertical animated button" tabindex="0">
            <div class="hidden content">Email</div>
            <div class="visible content">
            <i class="envelope outline icon"></i>
            </div>
        </div>
    </div>>
        <!-- <div align = "center">
            <i class="spinner loading icon"></i>
        </div>> -->
</div>
