<link rel="stylesheet" href="/stylesheets/index.css" />
<div class="ui menu header">
  <div class="left-items">
    <div class="ui item">
      <img class="ui rounded-image" src="/logo.png" />
      Emergency SN
    </div>
    <div class="ui item">About Us</div>
  </div>
  <div class="right-items">
    <span class="ui item">Login</span>
    <button class="ui inverted whitesmoke button">Join Community</button>
  </div>
</div>
<div class="background-image">
  <img class="image-item" src="./snow.png" />
  <img class="image-item" src="./flood.png" />
  <img class="image-item" src="./earthquake.png" />
</div>
<div class="main">
  <h1 class="description" id="type-writer"></h1>
</div>
