extends layout

block content
  h1= title
  p Welcome to #{title}

  form#join_form.form-inline
    input#username.form-control.mr-sm-2(type='text')
    button.btn.btn-outline-primary(type='submit') Join!