<link rel="stylesheet" href="/stylesheets/index.css" />
<div class="ui menu header">
  <div class="left-items">
    <div class="ui item">
      <img class="ui rounded-image" src="/logo.png" />
      Emergency SN
    </div>
    <div class="ui item">About Us</div>
  </div>
  <div class="right-items">
    <span class="ui item">Login</span>
    <span class="ui item">Join Community</span>
  </div>
</div>
<h1 class="description">Hello World</h1>
