<link rel="stylesheet" href="/stylesheets/login.css" />
<div class="login-container">
  <div class="title">
    <img class="ui rounded-image" src="/images/logo.png" />
    <h1>Emergency SN</h1>
  </div>
  <div class="login-form">
    <form class="ui form">
      <div class="field">
        <label>Username</label>
        <input
          type="text"
          name="username"
          placeholder="Enter username"
          autocomplete
        />
        <span id="username-hint"></span>
      </div>
      <div class="field">
        <label>Password</label>
        <input
          type="password"
          name="password"
          placeholder="Enter Password"
          autocomplete
        />
        <span id="password-hint"></span>
      </div>
      <button class="ui right labeled icon button" type="submit">
        <i class="arrow right icon"></i>
        Login/Sign up
      </button>
    </form>
  </div>
  <%- include('modal.ejs') %> <%- include('footer.ejs') %>
  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="/javascripts/login.js"></script>
</div>
