<link rel="stylesheet" href="/stylesheets/measure.css" />
<div class="measure-wrapper">
  <header class="directory-header">
    <button id="leave" class="ui inverted button compact">Leave</button>
  </header>
  <div class="measure-container">
    <label class="desc-word">duration (seconds)</label>
    <input type="text" name="duration" class="duration" />
    <span id="duration-hint"></span>
    <label class="desc-word">interval (millisecond)</label>
    <input type="text" name="interval" class="interval" />
    <span id="interval-hint"></span>
    <button class="ui inverted whitesmoke button start" id="start">
      Start
    </button>

    <button
      class="ui inverted whitesmoke button start"
      id="stop"
      style="margin-top: 10px"
    >
      Stop
    </button>

    <div class="measure-result" id="result">
      <h2 class="desc-word">Performance Result</h2>
      <div class="measure-result"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/brownies"></script>
    <script src="/javascripts/measure.js"></script>
  </div>
</div>
