<link rel="stylesheet" href="/stylesheets/modal.css" />
<div class="modal-wrapper">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>A new account will be created</p>
    <button class="confirm">confirm</button>
  </div>
</div>
