<link rel="stylesheet" href="/stylesheets/signup.css" />
<div class="signup-container">
  <div class="title">
    <img class="ui rounded-image" src="/images/logo.png" />
    <h1>Emergency SN</h1>
  </div>
  <div class="signup-form">
    <form class="ui form">
      <div class="field">
        <label>Username</label>
        <input
          type="text"
          name="username"
          placeholder="Username (at least 3 characters)"
          autocomplete
        />
        <span id="username-hint"></span>
      </div>
      <div class="field">
        <label>Password</label>
        <input
          type="password"
          name="password"
          placeholder="Password (at least 4 characters)"
          autocomplete
        />
        <span id="password-hint"></span>
      </div>
      <button class="ui right labeled icon button" type="submit">
        <i class="arrow right icon"></i>
        Confirm Joining
      </button>
    </form>
    <div class="form-footer">
      <span>Already have an account?</span>
      <a href="/">Login</a>
    </div>
  </div>
  <%- include('modal.ejs') %> <%- include('footer.ejs') %>
  <script type="module" src="/javascripts/signup.js"></script>
</div>
