<div align = "right">
    <a href="/users/?lang=zh_CN" class="lang-zh-cn en">中文</a>
    <a href="/users/?lang=en_US" class="lang-en-us en">EN</a>
</div>
<h2><p align = "center">Welcome to XXX!</p></h2>
<!-- a brief explanation of the meaning of the various statuses that could be shared and how to share a status -->

<!-- <img src="/public/images/status.jpg" alt="Oops"/> -->

<center><img src="/status.jpg" width="80%" alt="Oops"/></center>

<center><img src="/change_status.jpg" width="80%" alt="Oops"/></center>
<center><img src="/change_status1.jpg" width="80%" alt="Oops"/></center>
<center><img src="/change_status2.jpg" width="80%" alt="Oops"/></center>

<div align = "center">
    <button class="ui right labeled icon button">
        <i class="right arrow icon"></i>
        I got it!
    </button>
</div>
<!-- <img class="image" src="//res.wx.qq.com/t/wx_fed/wechat-main-page/wechat-main-page-frontend/res/static/img/18UZzYd.svg" alt="Oops"> -->