.measure-wrapper {
  position  : relative;
  background: rgb(10, 3, 3, 0.89);
  height    : 100%;
  overflow  : auto;
}

.directory-wrapper .directory-header {
  display         : flex;
  align-items     : center;
  height          : 3.5rem;
  padding         : 10px 10px;
  justify-content : space-between;
  color           : whitesmoke;
  background-color: #24292f;
}

#leave {
  height       : 2rem;
  border-radius: 8px;
  color        : rgba(255, 0, 0, 0.79);
  border       : none;
}


.header1 {
  display  : inline-block;
  font-size: 22px;
}

#duration-hint {
  color: rgba(255, 0, 0, 0.79);
}

#interval-hint {
  color: rgba(255, 0, 0, 0.79);
}

.measure-container {
  display        : flex;
  justify-content: center;
  flex-direction : column;
  height         : 100%;
  align-items    : center;
}

.measure-result {
  display         : flex;
  justify-content : center;
  flex-direction  : column;
  height          : 300px;
  width           : 300px;
  margin-top      : 20px;
  align-items     : center;
  background-color: #eeece8;
}

.duration,
.interval,
.start {
  width        : 300px;
  margin-bottom: 30px;
}

.desc-word {
  color: white;
}