* {
  font-family: "Source Sans Pro", sans-serif;
}

footer {
  position        : absolute;
  bottom          : 0;
  width           : 100%;
  text-align      : center;
  padding-top     : 2rem;
  font-weight     : 900;
  color           : whitesmoke;
  background-image: url("/black.png");
}